/* OM **************************/
h1 {
    color: #767676;
}

#om .col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#om .right .left {

    padding-right: 5vw;
    padding-left: 5vw;
    padding-bottom: 10vw;
}

/* KONTAKT **********************/
