/* GENERELT *************************************/

body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}

p {

    color: #7c7c7c;

}

img {
    width: 100%;
}

video {
    width: 100%;
}


/*BURGER MENU*************************************/
/*#logo_background {
    background-color: white;
    width: 100%;
    z-index: 2;
} */

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    /*  position: fixed;
    transition: 0.2s;*/

}

.hidden {
    /*  transform: translateX(-100);**/
    visibility: hidden;
}

#menuknap {
    position: fixed;
    display: inline-block;
    height: 5vw;
    width: 5vw;
    background-image: url(billeder/burger.svg);
    background-size: cover;
    top: 2vw;
    left: 2vw;
    z-index: 1;
}


.menu_background {
    background-color: #ffffff;
    box-shadow: 1px 1px 8px #acacac;
    top: 0vw;
    left: 0vw;
    height: 40vw;
    width: 22vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

nav ul {
    height: 40vw;
    width: 22vw;
    position: fixed;

}

nav li {
    padding-left: 3vw;
    text-decoration-line: none;
    text-transform: uppercase;
    list-style-type: none;
    padding-bottom: 4vw;
    font-size: 2.7vw;
}

a:link {
    text-decoration: none;
    color: #C8C1B7;
}

a:visited {
    text-decoration: none;
    color: #C8C1B7;
}

a:hover {
    color: #7c7c7c;
}

a:active {
    color: #7c7c7c;
}

.closed {
    animation-name: close_kf;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-timing-function: linear;

}

@keyframes close_kf {
    0% {
        background-image: url(billeder/cross.svg);

    }

    100% {
        background-image: url(billeder/burger.svg);
    }
}


.open {
    animation-name: open_kf;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    /*    background-image: url(burger.svg);*/

}

@keyframes open_kf {
    /*
    0% {

        background-image: url(burger.svg);
    }
*/

    100% {
        background-image: url(billeder/cross.svg);
    }

}
}




/*FORSIDE ***************************************/



#forside .txt {

    font-size: 3vw;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-bottom: 7vw;
}



#forside .col {
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-wrap: nowrap;

    align-content: space-between;
    flex-direction: column;
}

#forside .top {
    display: flex;
    flex-wrap: nowrap;

    /* justify-content: center; */
}

#forside .bottom {
    padding-bottom: 5vw;
}



/*BUTIK*************************/

#butik .col {
    /*    flex-direction: row;*/
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5vw;

}

#butik .col:nth-child(even) {
    flex-direction: row-reverse;
}

#butik .billede {
    position: relative;
    flex-grow: 2;
    flex-basis: 600px;
    padding: 0;
}

#butik .tekst {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 15px;
}


#butik .overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
}

#butik h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}


#butik .billede:hover .overlay {
    display: block;
    background: rgba(200, 193, 183, 0.8);
}


/* MENU 4 DESKTOP OG TABLET***********************/

@media screen and (min-width: 900px) {

    /*BUTIK***************/

    #butik .col {
        padding: 3vw;
    }



}


img {
    width: 100%;
}

body {
    margin: 0;
    background-color: white;
}

/** Butik_product CSS starter **/

#butik_produkt .col_1 {
    display: flex;
    flex-wrap: wrap;
}

#butik_produkt .left_top {
    margin-right: auto;
    margin-left: auto;
}

#butik_produkt .left_bottom {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    justify-content: space-between;
}

.mellemrum {
    padding: 0.6vw;
}

#butik_produkt .left_bottom img {
    flex-basis: 100px;
}

#butik_produkt .right {
    margin-right: 10vw;
    margin-left: 10vw;
    text-align: left;
    flex-basis: 500px;
    flex-grow: 1;
}

button {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 12px;
    border-radius: 2px;
    width: 100px;
    font-size: 700;
    display: block;
    margin-right: auto;
    margin-left: auto;

}

#produkter {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

#produkter img {
    scroll-snap-align: center;
    width: 33%;
}

/** Butik_product CSS slutter **/


/** Butik_gridscroll CSS starter **/

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.layout {
    flex: 50%;
    padding: 0 4px;
}

.layout img {
    margin-top: 8px;
    vertical-align: middle;
}







@media screen and (min-width: 900px) {

    #butik_produkt .col_1 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    #butik_produkt .right {
        flex-basis: 400px;
    }

    #butik_produkt .billeder {
        flex-basis: 600px;
    }

    #produkter {
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        display: flex;
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }

    #produkter img {
        scroll-snap-align: center;
        width: 20%;
    }

}

@media screen and (min-width: 900px) {

    .gallery {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }

    .layout img {
        flex-grow: 3;
    }

}



html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

/* CART ************************/

.cart {
    position: fixed;
    top: 2vw;
    right: 2vw;
    width: 6vw;
    height: 6vw;
    opacity: 90%;
}



/* OM **************************/
h1 {
    color: #767676;
}

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0vw;

}

#om .right .left {


    padding-bottom: 10vw;
}

/* KONTAKT **********************/

#kontakt .col {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#kontakt h1 {
    text-align: center;
}



iframe {
    width: 100%;
    padding-bottom: 5vw;

}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #C8C1B7;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #C8C1B7;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


/*  MEDIA QUERY FOR FORSIDE DESKTOP ****************/

@media screen and (min-width: 900px) {

    /****************************** NAV *****/
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        position: relative;
        /*  position: fixed;
    transition: 0.2s;*/

    }



    #menuknap {
        visibility: hidden;
    }

    .cart {
        height: 1.5vw;
        width: 1.5vw;
        position: absolute;
        top: 10.8vw;
        right: 18vw;
    }


    #menu {

        position: absolute;
        width: 100%;
        height: 3vw;
        top: 9.8vw;

        display: flex;
        justify-content: space-around;

    }

    .menu_left {
        position: absolute;
        left: 15.5vw;
    }

    .menu_right {
        position: absolute;
        right: 23vw;
    }




    nav li {

        text-decoration-line: none;
        text-transform: uppercase;
        list-style-type: none;
        font-size: 1.5vw;

        float: left;



    }

    /******************************FORSIDE*****/
    .splash {
        position: relative;
        bottom: 2vw;
        padding-top: 1vw;
    }

    #forside .txt {

        font-size: 1.2vw;
        padding-right: 3vw;
        padding-left: 3vw;
        padding-bottom: 7vw;
    }


    #forside .sectionwrapper {
        display: flex;
        flex-wrap: nowrap;

        align-content: space-between;
        flex-direction: row;
    }


    #forside .col {

        display: flex;
        flex-wrap: nowrap;
        padding: 1.5vw;

    }

    #forside .top {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }




    #forside .bottom {
        padding-bottom: 5vw;
        font-size: 1.5vw;
    }


    /****************************** OM *****/

    #om video {
        padding: 7vw;
    }

    #om img {
        width: 100%
    }


    #om .col_top {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;

        padding-left: 5vw;
        padding-right: 5vw;
    }

    #om .right_top {
        flex-basis: 500px;
        flex-grow: 6;
        position: relative;
        top: 4vw;
        padding-left: 5vw;
    }

    #om .left_top {
        flex-basis: 300px;
        flex-grow: 3;
    }

    #om .col_bottom {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        padding-left: 5vw;
        padding-right: 5vw;
    }


    #om .right_bottom {
        flex-basis: 500px;
        flex-grow: 6;
        position: relative;
        top: 4vw;
        padding-right: 5vw;
    }

    #om .left_bottom {
        flex-basis: 300px;
        flex-grow: 2;
        padding-bottom: 3vw;
    }



    /******************************KONTAKT*****/




    #kontakt_oppe {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-bottom: 2vw;
    }


    .billede_tekst {
        width: 100%;
        flex-basis: 500px;
        flex-grow: 1;
        padding-left: 2vw;
        padding-right: 2vw;
        font-size: 1.5vw;

    }



    .maps {
        position: relative;
        top: 5vw;
        flex-basis: 500px;
        flex-grow: 1;
        font-size: 1.5vw;
    }

    iframe {
        width: 100%;
        height: 25vw;
        padding-right: 2vw;



    }

    #kontakt_nede {
        display: flex;

        justify-content: center;
        padding-bottom: 2vw;
    }




    input[type=text],
    select,
    textarea {
        width: 100%;
        height: 3vw;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=text],
    select,
    textarea input[type=submit] {
        background-color: white;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #C8C1B7;
    }

    .besked {
        height: 11vw;

    }

    .form {
        position: relative;
        left: 2vw;
        width: 50vw;
        height: 100%;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;



    }
}


/*** FOOOTER *********************/


footer {
    height: 7vw;
    width: 100%;

    background-color: #C8C1B7;
    position: relative;
    bottom: 0;

}

.facebook {
    width: 5vw;
    position: absolute;
    right: 3vw;
    bottom: 1vw;
}

.instagram {
    width: 5vw;
    position: absolute;
    right: 10vw;
    bottom: 1vw;
}

small {
    position: absolute;
    left: 2vw;
    bottom: 2.5vw;
}
